@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #000;
  color: #fff; /* Ensure default text is visible */
}

.glow-red:hover {
  box-shadow: 0 0 10px rgba(239, 68, 68, 0.8);
  transition: all 0.3s ease;
}

.hover-neon-green:hover {
  color: #10B981;
  transition: color 0.3s ease;
}